<!DOCTYPE html>
<html lang="zh-CN" class='home-body'>
  <head>
    <title>管理员控制台</title>
    <% include templates/head %>
  </head>

    <body>
      <div class='container'>
        <div class='module_userinfo row'>
          <% include templates/userinfobar %>
        </div>
        <div class='row'>
          <% include templates/sidebarnav %>
        </div>
        <div class='row main'>
          <div class='col-md-6'>
            <h2>帐户管理<br><small>管理系统中的用户与帐户。</small></h2>
          </div>
          <div class='col-md-6 module_userModifier'>
            <div class="form-group">
              <div><label for="form_delUsername">欲删除帐户的用户名</label>
              <input type="text" class="form-control" id="form_delUsername" v-model='delUser'></div>
              <div style="padding-top: 5px;"><button class='btn btn-danger' v-on:click="delaccount()">删除这个帐户</button></div>
              <h3>敬请注意！</h3>
              <p>这是一个危险操作！请确保用户名输入正确，且该帐户确有必须删除的理由。</p>
              <p>帐户被删除后，相应用户将无法使用该帐户访问系统，且所有人（包括该用户及系统本身）都无法查看被删除帐户的数据。</p>
            </div>
          </div>
        </div>
      </div>
      <% include templates/modal %>
    </body>
    <% include templates/js %>
    <script>loadUserInfo()
    nav.$data.now = "console"</script>
</html>
