<!DOCTYPE html>
<html lang="zh-CN" class='home-body'>
  <head>
    <title>登录</title>
    <% include templates/head %>
  </head>

    <body>
      
      <% include templates/modal %>
    </body>
    <% include templates/js %>
</html>
