<html>
  <head>
    <title>Redirecting...</title>
  </head>
  <body>
    <div class='vue'></div>
  </body>
  <script src="/modules/vue/dist/vue.js"></script>
  <script src="/modules/vue-resource/dist/vue-resource.min.js"></script>
  <script src="/public/javascript/logout.js"></script>
</html>
